// COLORS

$color-blue: #ABDDF6;
$color-blue-light: rgba(171, 221, 246, .6);
$color-blue-dark: rgb(114, 204, 249);
$color-orange: #F38630;
$color-white: #fff;
$color-black: #000;


//responsive variables
$content-width: 1440px;
$tablet-big-width: 1200px;
$tablet-width: 1050px;
$mobile-big-width: 700px;
$mobile-small-width: 320px;
