@import './../abstracts/variables';
@import './../abstracts/mixins';

.arrows-block {
    width: 45px;
    height: 45px;
    background-color: $color-blue;
    justify-self: end;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    transition: all .4s;

    &__img {
      transform: scale(.7);
      transition: all .4s;
      margin: -2px 0 0 -2px;
    }

    &:hover{
      background-color: $color-orange;

      .arrows-block__img{
        transform: scale(.8);
      }
    }
    @include media-tablet {
      grid-row: 1/2;
      justify-self: center;
      margin-right: 27px;
    }
    @include media-mobile {
      margin-right: 5px;
    }
}