@import './../abstracts/variables';

.city-search {
    width: 375px;
    height: 45px;
    justify-self: end;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid $color-blue;
    border-radius: 6px;

    &__input{
        grid-column: 1/4;
        outline: none;
        font-size: 2rem;
        padding: 5px 10px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $color-blue-light;
        color: $color-orange;
        transition: all .4s;

        &::placeholder {
            color: $color-blue-dark;
            opacity: 1;
            font-size: 1.6rem;
            font-weight: 300;
            transition: all .4s;
        }
    }

    &__button{
        grid-column: 4/5;
        border: 2px solid $color-blue;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: $color-blue;
        cursor: pointer;
        color: $color-white;
        font-size: 1.4rem;
        transition: all .4s;
        font-weight: bold;
        text-transform: uppercase;

        &:hover{
            background-color: $color-blue-dark;
            border: 2px solid $color-blue-dark !important;
        }
    }
}

.city-search__input:focus{
    background: $color-orange;
    color: $color-blue-dark;

    &::placeholder {
        color: $color-blue-dark;
        opacity: 1;
        font-size: 1.8rem;
        font-weight: 300;
    }
}