@import './../abstracts/variables';

.temperature {
    width: 90px;
    height: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    border-radius: 8px;

    &__fahrenheit{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: $color-blue;
        color: $color-white;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__celsius{
        background-color: $color-blue;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: $color-white;
        border: none;
        cursor: default;
        outline: none;
    }
}

.active-temperature {
    background-color: $color-orange !important;
}