@import './../abstracts/variables';
@import './../abstracts/mixins';

.main {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-tablet {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 450px;
    }
    @include media-mobile {
        grid-template-rows: 1260px 450px;
        grid-template-columns: 1fr;
        width: 300px;
        margin: 0 auto;
    }
}


.weather{
    grid-column: 1/2;
    height: 100%;

    &__current{
        width: 100%;
        height: 450px;
        @include media-mobile {
            height: 900px;
        }
        
    }

    &__forecast{
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3,1fr);

        @include media-mobile {
            grid-template-columns: 200px;
        }
        @include media-mobile {
            width: 200px;
            margin: 0 auto;
            height: 370px;
        }
    }

    @include media-tablet {
       grid-column: 1/2;
       grid-row: 1/2;
       width: 58rem;
       margin: 0 auto;
    }
    @include media-mobile {
        width: 100%;
    }
}

.location{
    grid-column: 2/3;
    height: 100%;

    @include media-tablet {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

.current{
    position: relative;
    color: $color-white;

    &__info{
        font-style: normal;
        font-family: Montserrat-Bold;
        text-transform: uppercase;
        padding: 50px 10px 20px;
        line-height: 57px;

        @include media-tablet {
            text-align: center;
        }
        @include media-mobile {
            padding: 3rem 0 0;
            font-size: 4.4rem;
        }
    }

    &__city{
        font-size: 5.4rem;
        margin-left: 3rem;
        overflow-wrap: anywhere;
        font-family: Montserrat-Bold;

        @include media-mobile {
            font-size: 4.4rem;
        }
        @include media-mobile {
            margin-left: 0;
            font-size: 3rem;
        }
    }

    &__date{
        font-size: 2.5rem;
        margin-left: 3rem;
        @include media-mobile {
            margin-left: 0;
            font-size: 2rem;
        }
    }

    &__temperature{
        font-size: 30rem;
        font-family: Montserrat-Bold;
        position: absolute;
        top: 35%;
        left: 10%;
        @include media-laptop-small {
            top: 42%;
            font-size: 23rem;
        }
        @include media-mobile {
            text-align: center;
            position: static;
            font-size: 22rem !important;
            margin-top: -2rem;
        }

    }

    &__icon{
        width: 150px;
        position: absolute;
        top: 25%;
        right: 13%;

        @include media-laptop-small {
            right: -3%;
        }
        @include media-mobile {
            right: 0 !important;
            margin: -3rem auto 0;
            position: static;
            width: 180px;
        }
       
    }

    &__details{
        position: absolute;
        top: 55%;
        right: -4rem;
        font-size: 2.2rem;
        color: $color-white;
        font-family: Montserrat-Bold;
        line-height: 37px;
        text-transform: uppercase;
        width: 260px;

        @include media-laptop-small {
            right: -8%;
        }
        @include media-mobile {
            margin: 0 auto;
            position: static;
            width: 220px;
            text-align: center;
            font-size: 2.2rem;

            & > * {
                margin-top: 1rem;
            }
        }
    }
}

.forecast{
    color: $color-white;
    display: grid;
    align-content: center;
    justify-items: center;
    position: relative;

    &__day{
        font-family: Montserrat-Regular;
        font-size: 2.2rem;
        line-height: 2.7rem;
        text-transform: uppercase;
        @include media-mobile {
            font-size: 3.2rem;
        }
    }

    &__temperature{
        font-style: normal;
        font-family: Montserrat-Bold;
        font-size: 80px;
        line-height: 98px;
        text-transform: uppercase;
    }

    &__img{
        width: 70px;
        position: absolute;
        top: 13px;
        right: -15px;

        @include media-laptop-small {
            right: -35px;
        }
    }
}

.location {

    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;

    &__coordinates{
        position: absolute;
        left: 21%;
        bottom: 17%;
        font-size: 2.2rem;
        color: $color-white;
        font-family: Montserrat-Regular;

        @include media-laptop-small {
            left: 17%;
            bottom: 22%;
        }

        @include media-tablet {
            left: 31% !important;
            bottom: 9% !important; 
        }
         @include media-mobile {
            font-size: 1.6rem;
            bottom: 18% !important;
            left: 5%!important;
            font-family: Montserrat-Bold;
        }
    }
}

#map { 
    position: absolute; 
    top: 65px;
    width: 42rem;
    height: 42rem;
    clip-path: polygon(50% 0, 100% 0, 100% 52%, 100% 52%, 100% 100%, 70% 100%, 56% 88%, 0 88%, 0 29%, 0 0);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

    @include media-laptop-small {
        width: 39rem;
        height: 39rem;
    }
    @include media-tablet {
       top: 10px;
    }
    @include media-mobile {
        width: 30rem !important;
        height: 32rem !important;
        margin-top: 3rem;
    }

}